<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module" src="api.js"></script>
</head>

<body>
    <div id="app" class="container mt-5">
        <button type="button" @click="test">Test Component</button>
        <products :products="curr_products" v-if="isProductLoad" @delete-item="openModal" @update-item="openModal">
        </products>
        <pagination :pagi_data="pagination" :page_index_list="page_index_list" v-if="isProductLoad"
            @upate-currpage="updateCurrentProducts"></pagination>
        <delete-product-modal :temp_product="tempProduct" @update-products="getProducts"></delete-product-modal>
        <product-modal :temp_product="tempProduct" @update-products="getProducts"></product-modal>
    </div>

    <!-- Product Modal -->
    <script type="text/x-template" id="productModal">
        <div class="modal fade" id="ProductModal" tabindex="-1" role="dialog" aria-labelledby="ProductModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-white">
                        <h5 class="modal-title" id="ProductModalLabel">建立新產品</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="image-url" class="col-form-label">貼上圖片網址</label>
                                    <input v-model="temp_product.imageUrl" type="url" class="form-control" id="image-url"
                                        placeholder="請貼上圖片網址">
                                </div>
                                <img class="img-fluid" :src="temp_product.imageUrl">
                            </div>

                            <div class="col-sm-8">
                                <form>
                                    <!-- form-group 可以讓不同元件在表單內取得最佳間距 -->
                                    <div class="form-group">
                                        <label for="title" class="col-form-label">標題</label>
                                        <input v-model="temp_product.title" type="text" class="form-control" id="title"
                                            placeholder="請輸入標題">
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <label for="category" class="col-form-label">分類</label>
                                            <input v-model="temp_product.category" type="text" class="form-control"
                                                id="category" placeholder="請輸入分類">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="unit" class="col-form-label">單位</label>
                                            <input v-model="temp_product.unit" type="text" class="form-control" id="unit"
                                                placeholder="請輸入單位">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <label for="origin_price" class="col-form-label">原價</label>
                                            <input v-model="temp_product.origin_price" type="text" class="form-control"
                                                id="origin_price" placeholder="請輸入原價">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="price" class="col-form-label">售價</label>
                                            <input v-model="temp_product.price" type="text" class="form-control"
                                                id="price" placeholder="請輸入售價">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label for="description">產品描述</label>
                                        <textarea v-model="temp_product.description" class="form-control"
                                            id="description" rows="2" placeholder="請輸入產品描述"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="content">說明內容</label>
                                        <textarea v-model="temp_product.content" class="form-control" id="content"
                                            rows="2" placeholder="請輸入說明內容"></textarea>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="enabled"
                                            v-model="temp_product.enabled">
                                        <label class="form-check-label" for="enabled">
                                            是否啟用
                                        </label>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="updateProduct">確認</button>
                    </div>
                </div>
            </div>
        </div>
    </script>


    <!-- Delete Product Modal -->
    <script type="text/x-template" id="delmodal">

        <div class="modal fade" id="delProductModal" tabindex="-1" role="dialog" aria-labelledby="delProductModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-danger text-white">
                        <h5 class="modal-title" id="delProductModalLabel">刪除產品</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        是否刪除
                        <strong class="text-danger">{{ temp_product.title }}</strong>
                        (刪除後無法恢復)。
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-danger" @click="deleteProduct">確定刪除</button>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <!-- pagination -->
    <script type="text/x-template" id="pagination">
        <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item" :class="{disabled: curr_page === 1}" @click="update_curr_page('previous')">
                <a class="page-link" href="#" aria-disabled="true">Previous</a>
              </li>

              <li class="page-item" :class="{active: curr_page === (index+1)}" v-for="(item, index) in page_index_list" :key="item" @click="update_curr_page(item)"><a class="page-link">{{ item }}</a></li>

              <li class="page-item" :class="{disabled: curr_page === page_index_list.length}" @click="update_curr_page('next')">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
    </script>

    <!-- product list -->
    <script type="text/x-template" id="products">
        <table class="table mt-4">
            <thead>
            <tr>
                <th scope="col">分類</th>
                <th scope="col">產品名稱</th>
                <th scope="col">原價</th>
                <th scope="col">售價</th>
                <th scope="col">是否啟用</th>
                <th scope="col">編輯</th>
            </tr>
            </thead>
            <tbody>
                <tr v-for="(item, key) in products" :key="item.title">
                    <td>{{ item.category }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.origin_price }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                        <span v-if="item.enabled" class="text-success">啟用</span>
                        <span v-else>未啟用</span>
                    </td>
                    <td>
                        <!-- 合再一起的元件，通常都是 xxx-group ( ex: btn-group, list-group ) -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-primary" @click="openModal('update', item)">編輯</button>
                            <button type="button" class="btn btn-outline-danger"
                                @click="openModal('delete', item)">刪除</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </script>



    <script type="module">

        Vue.prototype.$bus = new Vue();

        Vue.component('product-modal', {
            template: "#productModal",
            props: {
                temp_product: Object,
            },
            methods: {
                updateProduct() {
                    console.log('updateProduct: line-218');
                    console.log(this.temp_product);

                    // update product
                    if (this.temp_product.id) {
                        // api
                        let uuid = '83e5dddb-dc92-4272-9ddd-488cfb6ae1e0';
                        let apiPath = 'https://course-ec-api.hexschool.io/';
                        let product_id = this.temp_product.id;
                        let api = `${apiPath}api/${uuid}/admin/ec/product/${product_id}`;

                        let vm = this;
                        axios.patch(api, this.temp_product)
                            .then(function (res) {
                                console.log(res);
                                $('#ProductModal').modal('hide');
                                vm.$emit("update-products");
                            }).catch(function (err) {
                                console.log(err);
                            });
                    }

                }
            }
        });

        Vue.component('delete-product-modal', {
            template: "#delmodal",
            props: {
                temp_product: Object,
            },
            methods: {
                deleteProduct() {
                    // api
                    let uuid = '83e5dddb-dc92-4272-9ddd-488cfb6ae1e0';
                    let apiPath = 'https://course-ec-api.hexschool.io/';
                    let id = this.temp_product.id;
                    // after delete, call outer to re-render products
                    let api = `${apiPath}api/${uuid}/admin/ec/product/${id}`;
                    let vm = this;

                    axios.delete(api)
                        .then(function (res) {
                            console.log(res);
                            $('#delProductModal').modal('hide');
                            vm.$emit("update-products");

                        }).catch(function (err) {
                            console.log(err);
                        });
                }
            }
        });


        Vue.component('pagination', {
            template: "#pagination",
            props: {
                pagi_data: Object,
                page_index_list: Array,
            },
            data() {
                return {
                    // page_index_list: [],
                    curr_page: this.pagi_data.current_page,
                }
            },
            methods: {
                update_curr_page(operation){
                    if(operation === "previous" && this.curr_page > 1){
                        this.curr_page -= 1;
                    }
                    else if(operation === "next" && this.curr_page < this.page_index_list.length){
                        this.curr_page += 1;
                    }
                    else if(this.page_index_list.includes(operation)){
                        this.curr_page = operation;
                    }
                    else{
                        return ;
                    }
                    // 父子溝通不需透過 $bus !!!
                    this.$emit('upate-currpage', this.curr_page);
                }
            }
        });


        Vue.component('products', {
            template: "#products",
            props: {
                products: Array,
            },
            data() {
                return {
                    // products_copy: this.products,
                    tempProduct: {},
                }
            },
            methods: {
                openModal(operate, item) {
                    switch (operate) {
                        case "update":
                            this.$emit("update-item", [operate, item]);
                            break;
                        // case "create":
                        //     this.tempProduct = {};
                        //     $('#ProductModal').modal('show');
                        //     break;

                        // 先觸發 model 元件，把要刪除的資料搬進去 tempProduct，最後再由 modal 的確認按鈕呼叫 delProduct 執行
                        case "delete":
                            // $('#delProductModal').modal('show');
                            // this.tempProduct = Object.assign({}, item);
                            this.$emit("delete-item", [operate, item]);
                            break;
                    }
                }
            }
        });

        var app = new Vue({
            el: "#app",
            data: {
                token: "",
                products: [],
                curr_products: [],
                uuid: "83e5dddb-dc92-4272-9ddd-488cfb6ae1e0",
                apiPath: "https://course-ec-api.hexschool.io/",
                isProductLoad: false,
                pagination: {},
                tempProduct: {},
                page_index_list: [],
            },
            created() {
                this.getProducts();
            },
            methods: {
                getProducts(operation) {

                    this.token = document.cookie.replace(/(?:(?:^|.*;\s*)hexschool\s*\=\s*([^;]*).*$)|^.*$/, "$1");

                    axios.defaults.headers['Authorization'] = `Bearer ${this.token}`;

                    let api = `${this.apiPath}api/${this.uuid}/admin/ec/products`;

                    let vm = this;

                    axios.get(api)
                        .then(function (res) {
                            // handle success
                            console.log('getProducts');
                            console.log(res);

                            vm.pagination = res.data.meta.pagination;
                            vm.pagination.per_page = 1;

                            let res_products = res.data.data;
                            vm.products = [];
                            while(res_products.length) {
                                vm.products.push(res_products.splice(0, vm.pagination.per_page));
                            }

                            vm.pagination.total_pages = vm.products.length;
                            console.log(vm.pagination);

                            vm.page_index_list = [];
                            for (let i = 0; i < vm.pagination.total_pages; ++i) {
                                vm.page_index_list.push((i + 1));
                            }

                            vm.curr_products = vm.products[vm.pagination.current_page - 1];
                            vm.isProductLoad = true;

                        })
                        .catch(function (error) {
                            // handle error
                            console.log(error);
                        });
                },
                updateCurrentProducts(curr_page) {
                    this.curr_products = this.products[curr_page - 1];
                },
                openModal(para) {

                    let operation = para[0];
                    this.tempProduct = Object.assign({}, para[1]);
                    console.log("openModal");
                    console.log(this.tempProduct);
                    if (operation === "delete") {
                        $('#delProductModal').modal('show');
                    }
                    else if (operation === "update") {
                        $('#ProductModal').modal('show');
                    }
                },
                test() {
                    console.log('test');
                    console.log(this.products);
                    console.log(this.pagination);
                    $('#ProductModal').modal('show');
                }
            }
        });
    </script>
</body>

</html>